.container {
  max-width: 340px;
  height: 400px;
  margin: 100px auto;
  padding: 20px 13px;
  font-family: sans-serif;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
